@charset "UTF-8";
@import url(../../../css/csslayer.css);
.player-board.eliminated-player {
  background-color: #b9b9b9;
}
.player-board.eliminated-player .player-name a {
  text-decoration: line-through;
}
.player-board.eliminated-player .counters {
  display: none;
}
.player-board .monster-figure {
  background-repeat: no-repeat;
  background-position: 75% top;
  margin-bottom: -5px;
  height: 45px;
}
.player-board .player_score, .player-board .fa-star {
  font-weight: bold;
  color: #6787c3;
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.counters .health-counter, .counters .energy-counter {
  flex: 1;
  display: flex;
  align-items: center;
}

.player-tokens {
  display: flex;
  flex-wrap: wrap;
}
.player-tokens .player-token {
  margin: 0 5px;
}
.player-tokens .player-token > div:not(:first-child) {
  margin-left: -25px;
}

.kot-token {
  opacity: 0;
  transition: opacity 1s;
  width: 50px;
  height: 50px;
  background: url("img/kot-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.intokyo .kot-token {
  opacity: 1;
}

#rolled-dice {
  display: flex;
  justify-content: center;
  flex: 1;
}
#rolled-dice #locked-dice {
  border: 2px solid #a6c136;
  border-radius: 5px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
#rolled-dice #locked-dice:before {
  content: "🔒";
  margin: 0 8px;
}
#rolled-dice #locked-dice.hide-lock {
  border-color: transparent;
}
#rolled-dice #locked-dice.hide-lock:before {
  content: "";
}
#rolled-dice #dice-selector {
  border: 2px solid transparent;
  min-height: 40px;
  display: flex;
  justify-content: center;
}
#rolled-dice.selectable .dice {
  cursor: pointer;
}
#rolled-dice .dice.selectable {
  cursor: pointer;
}
#rolled-dice #dice-actions button {
  width: auto;
}
#rolled-dice #dice-actions button .token {
  width: 16px;
  height: 16px;
}

.icon.forbidden {
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.dice {
  display: inline-block;
  position: relative;
  width: 33px;
  height: 33px;
  margin: 3px;
  border-radius: 20%;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.dice.rolled {
  animation: rolled-dice 1s forwards;
  transform: translateY(-40vh);
}

@keyframes rolled-dice {
  100% {
    transform: initial;
  }
}
.die-list {
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  list-style-type: none;
  width: 100%;
  transform-style: preserve-3d;
}

.die-item {
  pointer-events: none;
  display: grid;
  height: 100%;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  border-radius: 20%;
  border-style: outset;
  border-width: 1px;
  box-sizing: border-box;
  background-size: auto 100%;
}
.die-item.black {
  background-color: black;
  border-color: black;
  background-image: url("img/black_dice.png");
}
.die-item.green {
  background-color: #96c93c;
  border-color: #96c93c;
  background-image: url("img/green_dice.png");
}
.die-item.side1 {
  background-position: 0% 100%;
}
.die-item.side2 {
  background-position: 20% 100%;
}
.die-item.side3 {
  background-position: 40% 100%;
}
.die-item.side4 {
  background-position: 60% 100%;
}
.die-item.side5 {
  background-position: 80% 100%;
}
.die-item.side6 {
  background-position: 100% 100%;
}

[data-side="1"] .dot:nth-of-type(1) {
  grid-area: five;
}

[data-side="2"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="2"] .dot:nth-of-type(2) {
  grid-area: nine;
}

[data-side="3"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="3"] .dot:nth-of-type(2) {
  grid-area: five;
}

[data-side="3"] .dot:nth-of-type(3) {
  grid-area: nine;
}

[data-side="4"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="4"] .dot:nth-of-type(2) {
  grid-area: three;
}

[data-side="4"] .dot:nth-of-type(3) {
  grid-area: seven;
}

[data-side="4"] .dot:nth-of-type(4) {
  grid-area: nine;
}

[data-side="5"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="5"] .dot:nth-of-type(2) {
  grid-area: three;
}

[data-side="5"] .dot:nth-of-type(3) {
  grid-area: five;
}

[data-side="5"] .dot:nth-of-type(4) {
  grid-area: seven;
}

[data-side="5"] .dot:nth-of-type(5) {
  grid-area: nine;
}

[data-side="6"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="6"] .dot:nth-of-type(2) {
  grid-area: three;
}

[data-side="6"] .dot:nth-of-type(3) {
  grid-area: four;
}

[data-side="6"] .dot:nth-of-type(4) {
  grid-area: six;
}

[data-side="6"] .dot:nth-of-type(5) {
  grid-area: seven;
}

[data-side="6"] .dot:nth-of-type(6) {
  grid-area: nine;
}

.even-roll {
  transition: transform 0.9s ease-out;
}

.odd-roll {
  transition: transform 1.1s ease-out;
}

.no-roll {
  transition: transform 0;
}

.change-die-roll {
  transition: transform 0.5s ease-in-out;
}

.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}

.even-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}

.even-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}

.odd-roll[data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}

.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}

.odd-roll[data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}

.no-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.no-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}

.no-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}

.no-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}

.no-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}

.no-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}

.change-die-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.change-die-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}

.change-die-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}

.change-die-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}

.change-die-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}

.change-die-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}

[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(1rem);
}

[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(1rem);
}

[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(1rem);
}

[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(1rem);
}

[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(1rem);
}

[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(1rem);
}

.animation {
  position: absolute;
  z-index: 10;
  width: 220px;
  height: 220px;
  background-image: url("img/animations.png");
  background-size: auto 100%;
  top: -94px;
  left: -94px;
  transform: scale(0.15);
  transition: transform 0.5s ease-out;
}
.animation.animation4 {
  background-position: 0% 0%;
}
.animation.animation5 {
  background-position: 50% 0%;
}
.animation.animation6 {
  background-position: 100% 0%;
}

.change-die-discussion_bubble {
  top: 110%;
  bottom: unset;
  left: -98px;
  cursor: default;
}
.change-die-discussion_bubble::after {
  top: -10px;
  bottom: unset;
  border-width: 0 15px 15px 15px;
}
.change-die-discussion_bubble .die-face-selector {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.change-die-discussion_bubble .die-face-selector .dice-icon {
  position: relative;
  width: 33px;
  height: 33px;
  cursor: pointer;
}
.change-die-discussion_bubble .die-face-selector .dice-icon.selected {
  box-shadow: 0 0 3px 3px red;
}
.change-die-discussion_bubble .die-face-selector .dice-icon.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.change-die-discussion_bubble .action-buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.change-die-discussion_bubble .action-buttons button {
  width: auto;
}

#heart-action-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#heart-action-selector .die {
  display: flex;
  align-items: center;
  margin: 5px;
}
#heart-action-selector .die .die-face {
  display: flex;
  justify-content: center;
  width: 80px;
}
#heart-action-selector .die .die-face .dice-icon {
  position: relative;
  width: 33px;
  height: 33px;
}
#heart-action-selector .die .toggle-buttons {
  display: flex;
}
#heart-action-selector .die .toggle-buttons .toggle-button {
  user-select: none;
  background: #FFFFFFAA;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
#heart-action-selector .die .toggle-buttons .toggle-button.disabled {
  background: #AAAAAA;
  cursor: not-allowed;
  pointer-events: none;
}
#heart-action-selector .die .toggle-buttons .toggle-button.selected {
  box-shadow: 0 0 3px 3px red;
  z-index: 1;
}
#heart-action-selector .die .toggle-buttons .toggle-button:first-child {
  border-radius: 5px 0 0 5px;
}
#heart-action-selector .die .toggle-buttons .toggle-button:last-child {
  border-radius: 0 5px 5px 0;
}
#heart-action-selector .die .toggle-buttons .toggle-button:not(:last-child) {
  border-right: 1px solid #DDDDDD;
}
#heart-action-selector #heart-action-selector-apply-wrapper {
  display: flex;
  justify-content: center;
}
#heart-action-selector #heart-action-selector-apply-wrapper #heart-action-selector-apply {
  width: 120px;
}

.stockitem, #deck {
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  overflow: hidden;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.stockitem .bottom, #deck .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url("img/card-bottom.png");
  background-position: center top;
}
.stockitem .name-wrapper, #deck .name-wrapper {
  position: absolute;
  top: 14px;
  left: 34px;
  font-size: 10pt;
  color: white;
  font-family: "goodgirl";
  width: 95px;
  text-align: center;
}
.stockitem .name-wrapper .outline, #deck .name-wrapper .outline {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-stroke: 4px #96c93c;
  width: 100%;
}
.stockitem .name-wrapper .text, #deck .name-wrapper .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.stockitem .type-wrapper, #deck .type-wrapper {
  position: absolute;
  left: 0px;
  font-size: 9pt;
  color: white;
  transform: rotate(-5deg);
  font-family: "goodgirl";
}
.stockitem .type-wrapper.keep .outline, #deck .type-wrapper.keep .outline {
  -webkit-text-stroke: 4px #00aeef;
}
.stockitem .type-wrapper.discard .outline, #deck .type-wrapper.discard .outline {
  -webkit-text-stroke: 4px #ef1923;
}
.stockitem .type-wrapper .outline, #deck .type-wrapper .outline {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
}
.stockitem .type-wrapper .text, #deck .type-wrapper .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
}
.stockitem .description-wrapper, #deck .description-wrapper {
  position: absolute;
  left: 4px;
  width: 124px;
  bottom: 4px;
  text-overflow: ellipsis;
  text-align: center;
  color: black;
  font-size: 7pt;
}
.stockitem .description-wrapper .icon, #deck .description-wrapper .icon {
  width: 12px;
  height: 12px;
  margin-bottom: -2px;
}
.stockitem.disabled, #deck.disabled {
  opacity: 0.7 !important;
  cursor: not-allowed;
}
.stockitem .card-token, #deck .card-token {
  position: absolute;
}
.stockitem .card-token.energy-cube, #deck .card-token.energy-cube {
  background: url("img/energy-cube.png") center no-repeat;
  width: 32px;
  height: 32px;
  background-size: contain;
}

.card-tooltip .icon {
  width: 12px;
  height: 12px;
  margin-bottom: -2px;
}
.card-tooltip .cost {
  color: #96c93c;
}

.dice-icon {
  width: 14px;
  height: 14px;
  border-radius: 20%;
  background-color: black;
  background-image: url("img/black_dice.png");
  background-size: auto 100%;
  display: inline-block;
  margin-bottom: -4px;
}
.dice-icon.dice1 {
  background-position: 0% 100%;
}
.dice-icon.dice2 {
  background-position: 20% 100%;
}
.dice-icon.dice3 {
  background-position: 40% 100%;
}
.dice-icon.dice4 {
  background-position: 60% 100%;
}
.dice-icon.dice5 {
  background-position: 80% 100%;
}
.dice-icon.dice6 {
  background-position: 100% 100%;
}

.card-keep-text {
  position: relative;
  color: white;
  font-family: "goodgirl";
  font-size: 7pt;
  margin-right: 24px;
  margin-left: 2px;
  text-align: center;
}
.card-keep-text .outline {
  -webkit-text-stroke: 3px #00aeef;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.card-keep-text .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#table {
  position: relative;
  transform-origin: left top;
}
#table #table-center {
  position: absolute;
  width: 420px;
}
#table #table-center #deck-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: visible;
}
#table #table-center #deck-wrapper #deck {
  width: 185px;
  height: 132px;
  background: url("img/card-back.jpg");
  box-shadow: 4px 4px 0px 0px #333;
}
#table #table-center #deck-wrapper #pick-stock {
  position: absolute;
  bottom: -5px;
  width: 100%;
  z-index: 5;
}
#table #table-center #visible-cards {
  margin-bottom: 10px;
}
#table #table-center #board {
  margin-left: 10px;
  position: relative;
  width: 400px;
  height: 400px;
  background: url("img/tokyo.jpg");
  background-size: cover;
  box-shadow: 2px 2px 5px 2px black;
}
#table #table-center #board #tokyo-city {
  position: absolute;
  top: 72px;
  left: 11px;
  width: 150px;
  height: 150px;
}
#table #table-center #board #tokyo-bay {
  position: absolute;
  bottom: 11px;
  right: 23px;
  width: 150px;
  height: 150px;
}
#table .player-table {
  width: 420px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#table .player-table.eliminated {
  opacity: 0.5;
}
#table .player-table .player-name {
  padding: 5px;
  position: relative;
  height: 18px;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
}
#table .player-table .player-name .outline {
  position: absolute;
  left: 0;
  width: 100%;
  display: block;
  -webkit-text-stroke: 4px black;
}
#table .player-table .player-name .outline.white {
  -webkit-text-stroke: 4px white;
}
#table .player-table .player-name .text {
  position: absolute;
  left: 0;
  width: 100%;
}
#table .player-table .player-name.standard {
  font-weight: bold;
  font-size: 15pt;
}
#table .player-table .player-name.goodgirl {
  font-family: "goodgirl";
  font-size: 16pt;
}
#table .player-table .player-name.goodgirl .outline {
  top: 2px;
}
#table .player-table .player-name.goodgirl .text {
  top: 2px;
}
#table .player-table .monster-board-wrapper {
  position: relative;
}
#table .player-table .monster-board-wrapper .wheel {
  position: absolute;
  z-index: 1;
  transition: transform 1s;
}
#table .player-table .monster-board-wrapper .wheel.blue {
  background-image: url("img/blue-wheel.png");
  width: 165px;
  height: 165px;
  top: 7px;
  left: -5px;
  transform: rotate(25deg);
}
#table .player-table .monster-board-wrapper .wheel.red {
  background-image: url("img/red-wheel.png");
  width: 122px;
  height: 122px;
  right: -5px;
  bottom: 5px;
  transform: rotate(98deg);
}
#table .player-table .monster-board-wrapper .monster-board {
  width: 280px;
  height: 219px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 2px 2px 5px 2px black;
  border-radius: 12px;
  position: relative;
  z-index: 2;
}
#table .player-table .monster-board-wrapper .monster-board.monster0 {
  background-image: url("img/monster-board-1.png");
}
#table .player-table .monster-board-wrapper .monster-board.monster1 {
  background-image: url("img/monster-board-2.png");
}
#table .player-table .monster-board-wrapper .monster-board.monster2 {
  background-image: url("img/monster-board-3.png");
}
#table .player-table .monster-board-wrapper .monster-board.monster3 {
  background-image: url("img/monster-board-4.png");
}
#table .player-table .monster-board-wrapper .monster-board.monster4 {
  background-image: url("img/monster-board-5.png");
}
#table .player-table .monster-board-wrapper .monster-board.monster5 {
  background-image: url("img/monster-board-6.png");
}
#table .player-table .monster-board-wrapper .monster-board.active {
  border: 3px solid #ffcf13;
  margin: -3px;
}
#table .player-table .player-cards {
  width: 100%;
}
#table .monster-figure {
  position: relative;
  width: 150px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(6px 6px 4px black);
}
#table .monster-figure.monster0 {
  background-image: url("img/monster-figure-1.png");
}
#table .monster-figure.monster1 {
  background-image: url("img/monster-figure-2.png");
}
#table .monster-figure.monster2 {
  background-image: url("img/monster-figure-3.png");
}
#table .monster-figure.monster3 {
  background-image: url("img/monster-figure-4.png");
}
#table .monster-figure.monster4 {
  background-image: url("img/monster-figure-5.png");
}
#table .monster-figure.monster5 {
  background-image: url("img/monster-figure-6.png");
}

@font-face {
  font-family: "goodgirl";
  src: url("font/goodgirl-webfont.woff2") format("woff2"), url("font/goodgirl-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  background: url("img/background.jpg") #102f50;
  background-size: contain;
  background-repeat: no-repeat;
}

.whiteblock {
  background: #FFFFFFAA;
}

.monster0 {
  background-image: url("img/monster-figure-1.png");
}

.monster1 {
  background-image: url("img/monster-figure-2.png");
}

.monster2 {
  background-image: url("img/monster-figure-3.png");
}

.monster3 {
  background-image: url("img/monster-figure-4.png");
}

.monster4 {
  background-image: url("img/monster-figure-5.png");
}

.monster5 {
  background-image: url("img/monster-figure-6.png");
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/icons.png");
  background-size: auto 100%;
}
.icon.points {
  background-position: 0% 0%;
}
.icon.energy {
  background-position: 25% 0%;
}
.icon.health {
  background-position: 50% 0%;
}
.icon.forbidden {
  background-position: 75% 0%;
}
.icon.dead {
  background-position: 100% 0%;
}

#page-title .dice-icon, #page-title .icon {
  width: 20px;
  height: 20px;
}
#page-title .icon {
  margin: -5px 0;
}

#rolled-dice-and-rapid-healing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
#rolled-dice-and-rapid-healing #rapid-healing-wrapper:not(:empty) {
  margin-right: 15px;
}

#zoom-wrapper {
  position: relative;
}
#zoom-wrapper #zoom-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#zoom-wrapper #zoom-controls button {
  width: 32px;
  height: 32px;
  background: url("img/zoom.svg");
  background-size: auto 220%;
}
#zoom-wrapper #zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#zoom-wrapper #zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#zoom-wrapper #zoom-controls #zoom-in {
  background-position: 6% 94%;
}
#zoom-wrapper #zoom-controls #zoom-out {
  background-position: 82% 94%;
}

.log .icon {
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
}
.log .dice-icon {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

button .icon, a .icon {
  width: 20px;
  height: 20px;
  margin: -5px 0;
}

.token {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/tokens.png");
  background-size: auto 100%;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px black;
}
.token.shrink-ray {
  background-position: 0% 0%;
}
.token.poison {
  background-position: 33.33% 0%;
}
.token.smoke-cloud {
  background-position: 66.66% 0%;
}
.token.mimic {
  background-position: 100% 0%;
  box-shadow: 0 0 4px 4px #9cc060;
  /*
  box-shadow: 0 0 4px 2px #9cc060;
  animation: mimic-highlight-animation 3s alternate infinite ease-in-out;
  @keyframes mimic-highlight-animation {
    50% { 
        box-shadow: 0 0 8px 4px #9cc060;
    }
  }*/
}
