@import url(../../../css/csslayer.css);
.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/icons.png");
  background-size: auto 100%;
}
.icon.points {
  background-position: 0% 0%;
}
.icon.energy {
  background-position: 50% 0%;
}
.icon.health {
  background-position: 100% 0%;
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.counters .health-counter, .counters .energy-counter {
  flex: 1;
  display: flex;
  align-items: center;
}

#board {
  position: relative;
  width: 400px;
  height: 400px;
  background: url("img/tokyo.jpg") no-repeat;
}
