.stacks {
    display: flex;
    position: relative;

    .hidden-pile {
        position: relative;   
        display: flex;
        border-radius: 10px;
        box-shadow: 3px 3px 0px 0px #333, 5px 5px 3px black;

        background-position: 0% 0%;

        .button {
            display: none;
            flex: 1;
            border: 3px dashed white;
            color: white;
            font-size: 400%;
            justify-content: center;
            align-items: center;
            text-shadow: 2px 2px 2px black;

            &.eye {
                background: url('img/eye-shadow.png') center no-repeat;
            }
        }

        .button {
            &.left-radius {
                border-radius: 10px 0 0 10px;
            }
            &.right-radius {
                border-radius: 0 10px 10px 0;
            }
        }

        &.selectable .button {
            display: flex;
            cursor: pointer;
        }

        &.selectable .button.hidden {
            visibility: hidden;
            pointer-events: none;
            cursor: default;
        }

        &.selectable .button.max {
            visibility: hidden;
            pointer-events: none;
            cursor: default;
        }
    }
}

.pick-stock {
    border: 3px dashed transparent;
    &.selectable {
        border-color: white;

        .stockitem {
            cursor: pointer;
        }
    }
}

#lord-pick, #location-pick {
    display: none;
}

#lord-stacks {
    #lord-hidden-pile {  
        min-width: 207px;
        width: 207px;
        height: 207px;
        margin-right: 10px;

        background-image: url('img/lords.jpg');
    }

    #lord-visible-stocks {
        display: flex;
        flex-wrap: wrap;
    
        &>div {
            display: inline-block;
            margin-right: 10px;
            position: relative;

            border: 3px dashed transparent;
            &.selectable {
                border-color: white;
                cursor: pointer;
            }
        }
    }
}

#location-stacks {    
    #location-hidden-pile {   
        min-width: 186px;
        width: 186px;
        height: 124px;
        margin-right: 10px;

        background-image: url('img/locations.jpg');
    }

    #location-visible-stock {
        flex: 1;

        border: 3px dashed transparent;
        &.selectable {
            border-color: white;
            cursor: pointer;
        }
    }
}

.stockitem {
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}
