$name-left: 34px;
$name-top: 14px;
$name-width: 95px;
$name-size: 10pt;

$type-left: 0px;
$type-size: 9pt;

$description-left: 4px;
$description-width: 124px;
$description-size: 7pt;

.stockitem, #deck {
    border-radius: 10px;
    margin: 5px;
    // border: 1px solid white;
    text-align: center;
    overflow: hidden;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);

    .bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: url('img/card-bottom.png');
        background-position: center top;
    }

    .name-wrapper {
        position: absolute;
        top: $name-top;
        left: $name-left;
        font-size: $name-size;
        color: white;
        font-family: 'goodgirl';
        width: $name-width;
        text-align: center;

        .outline {
            position: absolute;
            left: 0;
            top: 0;
            -webkit-text-stroke: 4px $tokyoGreen;
            width: 100%;
        }

        .text {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
    }

    .type-wrapper {
        position: absolute;
        left: $type-left;
        font-size: $type-size;
        color: white;
        transform: rotate(-5deg);
        font-family: 'goodgirl';

        &.keep .outline { // blue
            -webkit-text-stroke: 4px #00aeef;
        }

        &.discard .outline { // red
            -webkit-text-stroke: 4px #ef1923;
        }

        &.costume .outline { // orange
            -webkit-text-stroke: 4px #f7941d;
        }

        .outline {
            position: absolute;
            left: 0;
            top: 0;
            width: 120px;
        }

        .text {
            position: absolute;
            left: 0;
            top: 0;
            width: 120px;
        }
    }

    .description-wrapper {
        position: absolute;
        left: $description-left;
        width: $description-width;
        bottom: 4px;
        text-overflow: ellipsis;
        text-align: center;
        color: black;
        font-size: $description-size;

        .icon {
            width: 12px;
            height: 12px;
            margin-bottom: -2px;
        }
    }
    
    &.disabled {
        filter: contrast(0.6);
        cursor: not-allowed;
    }

    .card-token {
        position: absolute;
    }
}

.energy-cube {
    position: absolute;
    background: url('img/energy-cube.png') center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
}

.card-tooltip {
    .icon {
        width: 12px;
        height: 12px;
        margin-bottom: -2px;
    }

    .cost {
        color: $tokyoGreen;
    }
}

.dice-icon {
    width: 14px;
    height: 14px;
    border-radius: 20%;
    background-color: black;
    background-image: url('img/black_dice.png');
    background-size: auto 100%;
    display: inline-block;
    margin-bottom: -4px;

    @for $i from 1 through 6 {
        &.dice#{$i} {
            background-position: (($i - 1) * 20%) 100%;
        }
    }
}

.card-keep-text {
    position: relative;
    color: white;
    font-family: 'goodgirl';
    font-size: 7pt;
    margin: 2px;
    text-align: center;

    .outline {
        -webkit-text-stroke: 3px #00aeef;
    }

    .text {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
}