$name-left: 34px;
$name-top: 14px;
$name-width: 980px;
$name-size: 10pt;

$type-left: 0px;
$type-top: 140px;
$type-size: 10pt;

$description-left: 4px;
$description-top: 144px;
$description-width: 112px;
$description-height: 38px;
$description-size: 7pt;

.stockitem {
    border-radius:10px;
    margin:5px;
    border:1px solid grey;
    text-align: center;
    overflow: hidden;

    .bottom {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
        background: url('img/card-bottom.png');
        background-repeat: no-repeat;
        background-size: 120% auto;
        background-position: bottom;
    }

    .name-wrapper {
        position: absolute;
        top: $name-top;
        left: $name-left;
        font-size: $name-size;
        color: white;
        transform: rotate(10deg);
        font-family: 'goodgirl';
        width: $name-width;
        text-align: center;

        .outline {
            position: absolute;
            left: 0;
            top: 0;
            -webkit-text-stroke: 8px $tokyoGreen;
            width: 100%;
        }

        .text {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
    }

    .type-wrapper {
        position: absolute;
        top: $type-top;
        left: $type-left;
        font-size: $type-size;
        color: white;
        transform: rotate(-10deg);
        font-family: 'goodgirl';

        &.keep .outline { // blue
            -webkit-text-stroke: 8px #00aeef;
        }

        &.discard .outline { // red
            -webkit-text-stroke: 8px #ef1923;
        }

        .outline {
            position: absolute;
            left: 0;
            top: 0;
            width: 120px;
        }

        .text {
            position: absolute;
            left: 0;
            top: 0;
            width: 120px;
        }
    }

    .description-wrapper {
        position: absolute;
        top: $description-top;
        left: $description-left;
        width: $description-width;
        height: $description-height;
        text-overflow: ellipsis;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        transform: rotate(-6deg);
        font-size: $description-size;

        .icon {
            width: 12px;
            height: 12px;
        }
    }
    
    &.disabled {
        opacity: 0.5 !important;
        cursor: not-allowed;
    }
}

.card-tooltip {
    .icon {
        width: 12px;
        height: 12px;
    }

    .cost {
        color: $tokyoGreen;
    }
}