$darkEditionYellow: #ffeb68;
$darkEditionBlack: #41423c;
$darkEditionGrey: #737373;

html[data-dark-edition="true"] {
    #loader_mask #game_box_loader_front, #loader_mask #game_box_loader_back {
        background-image: url('img/dark/game-box.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 0px;
        height: 0px;
        padding:500px 0 0 500px;
    }

    .player-board {
        background-color: $darkEditionGrey;

        .player_score, .fa-star {
            color: #f99603;
        }

        .counters {
            color: white;
        }
    }

    #rolled-dice {
        #locked-dice {
          border: 2px solid $darkEditionYellow;
      
          #lock {
            background: url('img/lock.svg') $darkEditionYellow;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 4px 0 0 4px;
          }

          &.hide-lock {
            border-color: transparent;
          }
        }
    }

    #skipBuyPhaseWrapper {    
        input:checked + .slider {
            background-color: $darkEditionYellow;
        }
    
        input:focus + .slider {
            box-shadow: 0 0 1px $darkEditionYellow;
        }
    }

    #table {
        .player-table {    
            &.active {
                border: 3px solid $darkEditionYellow;
                box-shadow: 0px 0px 5px 2px $darkEditionYellow;
            }
        }
    }

    .player-board {
        &.active {
          box-shadow: 0px 0px 2px 3px $darkEditionYellow;
        }
    }

    .double-selection {
      .no-visible-selection-except-double-selection {
        box-shadow: 0px 0px 5px 5px $darkEditionYellow;
      }
    }

    .highlight-evolution, .highlight-zombify {
        box-shadow: 0px 0px 5px 5px $darkEditionYellow;
    }

    #table {
        #table-center {
            #deck-wrapper {
                #deck {
                    background: url('img/dark/card-back.jpg');
                }
            }
        }
    }
    
    .card-stock {
        .stockitem.kot-card[data-design="dark-edition"], #deck {
            --main-color: #f6d445;

            .card-token {    
                &.mimic-tile {
                    background-image: url("img/dark/wickedness-tiles.jpg"); 

                    .name-wrapper {
                        font-size: 10pt;
                        font-family: 'young-frankenstein-italic';
                        color: #f6d445;
                    }
                }
            }

            .bottom {
                background-image: url('img/dark/card-bottom.png');
            }

            .name-wrapper {
                font-size: 13pt;
                font-family: 'young-frankenstein-italic';
                color: black;
            }

            .type-wrapper {
                transform: unset;
                font-family: 'young-frankenstein';
                font-size: 11pt;
                margin-top: -5px;

                &.keep {
                    .outline {
                        -webkit-text-stroke: 0;
                    }
                    .outline::before {
                        top: -4px;
                        left: -4px;
                        bottom: -4px;
                        right: -4px;
                        position: absolute;
                        content: '';
                        -webkit-mask: url('img/dark/keep-mask.png') no-repeat center / contain; 
                        mask: url('img/dark/keep-mask.png') no-repeat center / contain;  
                        background-color: var(--main-color); 
                    }
                }

                &.discard {
                    .outline {
                        -webkit-text-stroke: 0;
                    }
                    .outline::before {
                        top: -6px;
                        left: 0px;
                        bottom: -4px;
                        right: -8px;
                        position: absolute;
                        content: '';
                        -webkit-mask: url('img/dark/discard-mask.png') no-repeat center / contain; 
                        mask: url('img/dark/discard-mask.png') no-repeat center / contain;  
                        background-color: var(--main-color); 
                    }
                }
            }

            .description-wrapper {
                color: white;
            }
        }
    }

    .kot-card[data-design="dark-edition"], .kot-tile, .dijitTooltipContainer {

        .card-keep-text {
            color: white;
            font-family: 'young-frankenstein';
            font-size: 8pt;
            font-weight: normal;
            letter-spacing: 0.05rem;

            .outline {
                -webkit-text-stroke: 0;
                visibility: none;
            }

            ::before {
                content: '((';
                color: #f6d445;
                letter-spacing: unset;
            }
            ::after {
                content: '))';
                color: #f6d445;
                letter-spacing: unset;
            }
        }
    }

    .wickedness-tile-stock .stockitem, #table #table-center #full-board #wickedness-board-wrapper #wickedness-board .wickedness-tiles-pile .wickedness-tile {
        background-image: url('img/dark/wickedness-tiles.jpg');

        .name-wrapper {
            font-family: 'young-frankenstein-expanded-italic';
            color: #f6d445;

            .outline {
                &.wickedness-tile-side0 {
                    -webkit-text-stroke: 4px #231f20;  
                }
                &.wickedness-tile-side1 {
                    -webkit-text-stroke: 4px #231f20;  
                }
            }
        }

        .description-wrapper {
            color: white;
        }
    }

    #table  #table-center #full-board {
        #board {
            width: 470px;
            height: 470px;
            background-image: url('img/dark/tokyo.jpg');
            
            &.twoPlayersVariant {
                background: url('img/dark/tokyo-2pvariant.jpg');
            }

            #tokyo-city {
                top: 61px;
                left: 17px;
            }
            #tokyo-bay {
                bottom: 123px;
                right: 78px;
            }

            #twoPlayersVariant-message {
                right: 100px;
            }

            #board-corner-highlight {
                bottom: 17px;
            }
        }

        #wickedness-board-wrapper {
            width: 140px;
            position: relative;
            left: -80px;
            height: 470px;

            #wickedness-board {
                background: none;
                box-shadow: none;

                .wickedness-tiles-pile {
                    left: 84px;
                }

                #wickedness-tiles-pile-3 {
                    top: 302px;
                }
                #wickedness-tiles-pile-6 {
                    top: 172px;
                }
                #wickedness-tiles-pile-10 {
                    top: 3px;
                }
                
                .monster-icon {
                    transition: opacity 0.5s;

                    &[data-wickedness="0"] {
                        opacity: 0;
                    }
                }
            }
        }
    }

    #table .player-table {
        .player-name {    
            &.goodgirl {
                font-family: 'young-frankenstein-italic';
                font-size: 21pt;
                letter-spacing: .1rem;
            }
        }
    }
    
    .kot-card[data-design="dark-edition"], .kot-tile, .tokyo-tower, .dijitTooltipContainer {
        .icon.points {
            background-image: url('img/dark/icons.png');
            background-position: 0% 0%;
        }
    }

    .energy-cube {
        background: url('img/dark/energy-cubes.png') center no-repeat;
        background-size: auto 100%;

        @for $i from 0 through 4 {
            &.cube-shape-#{$i} {
                background-position-x: #{$i * 25%};
            }
        }
        
    }

    #zoom-wrapper #zoom-controls button {
        background-image: url('img/dark/zoom-white.svg');
    }
      
    .tundra .dijitTooltipContainer {
        background: black;
        color: white;
        border-color: gray;
    }

    
    .token {    
        &.shrink-ray {
            background-image: url('img/dark/tokens.png');
            background-position: 0% 0%;
            border-radius: unset;
            box-shadow: none !important;
        }
    
        &.poison {
            background-image: url('img/dark/tokens.png');
            background-position: 50% 0%;
            border-radius: unset;
            box-shadow: none !important;
        }
    
        &.smoke-cloud {
            background-image: url('img/dark/tokens.png');
            background-position: 100% 0%;
            border-radius: unset;
            box-shadow: none !important;
        }
    }
}

html[data-background="5"] {
    background: url('img/dark/background.jpg') #13141a;
    background-size: 100% auto;
    background-repeat: no-repeat;

    .mode_3d #game_play_area_background {
        background: url('img/dark/background.jpg') #13141a;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
}

html[data-dice="5"] {
    .die-item {
        &.black {
            background-color: $darkEditionBlack;
            border-color: $darkEditionBlack;
            background-image: url('img/dark/black_dice.png');
        }

        &.green {
            background-color: $darkEditionGrey;
            border-color: $darkEditionGrey;
            background-image: url('img/dark/opaque_dice.png');  
        }
    }

    .log, .gamelogreview, .dijitTooltipContainer, .kot-card[data-design="dark-edition"], .kot-tile {
        .dice-icon:not(.berserk):not(.die-of-fate) {
            background-image: url('img/dark/black_dice.png');
        }
    }
    
    .animation {
        background-image: url('img/dark/animations.png');
    }
}