#rolled-dice {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;

  #locked-dice {
    border: 2px solid $tokyoGreen;
    border-radius: 5px;
    margin-right: 20px;
    display: flex;
    align-items: center;

    #lock {
      background: url('img/lock.svg') $tokyoGreen;
      color: $tokyoBlack;
      width: 32px;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    > div {
      white-space: nowrap;
    }

    &.hide-lock {
      border-color: transparent;

      #lock {
        display: none;
      }
    }
  }

  #dice-selector {
    border: 2px solid transparent;
    min-height: 40px;

    display: flex;
    align-items: center;
  }

  &.selectable {
      .dice, .die4 {
          cursor: pointer;
      }
  }

  .dice.selectable, .die4.selectable {
    cursor: pointer;
  }

  #dice-actions {
    button {
      width: auto;

      .token {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.icon.forbidden {
  position: absolute;
  bottom: -10px;
  right: -10px;
}

$size: 0.25em;

.dice {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 3px;
    border-radius: 20%;

    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);

    &[data-rolled="true"] {
        animation: rolled-dice 1s forwards;
        transform: translateY(-40vh);

        .icon.forbidden {
          display: none;
        }
    }

@keyframes rolled-dice {
    100% { transform: initial; }
}

  .die-list {
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    list-style-type: none;
    width: 100%;
    transform-style: preserve-3d;
  }

  .die-item {
    pointer-events: none;
    display: grid;
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1;

    border-radius: 20%;
    border-style: outset;
    border-width: 1px;

    box-sizing: border-box;

    &.black {
        background-color: black;
        border-color: black;
        background-image: url('img/black_dice.png');
    }

    &.green {
        background-color: $tokyoGreen;
        border-color: $tokyoGreen;
        background-image: url('img/green_dice.png');  
    }

    &.berserk {
        background-color: red; // TODOCT
        border-color: red;
        background-image: url('img/berserk_dice.png');
    }

    background-size: auto 100%;

    @for $i from 1 through 6 {
        &.side#{$i} {
            background-position: (($i - 1) * 20%) 100%;
        }
    }
  }

  [data-roll-type="even"] {
    transition: transform 0.9s ease-out;
  }
  [data-roll-type="odd"] {
    transition: transform 1.1s ease-out;
  }
  [data-roll-type="-"] {
    transition: transform 0;
  }
  [data-roll-type="change"] {
    transition: transform 0.5s ease-in-out;
  }

  [data-roll-type="even"][data-roll="1"] {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="even"][data-roll="2"] {
    transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="even"][data-roll="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
  }
  [data-roll-type="even"][data-roll="4"] {
    transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
  }
  [data-roll-type="even"][data-roll="5"] {
    transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="even"][data-roll="6"] {
    transform: rotateX(360deg) rotateY(900deg) rotateZ(540deg);
  }
  [data-roll-type="odd"][data-roll="1"] {
    transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
  }
  [data-roll-type="odd"][data-roll="2"] {
    transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
  }
  [data-roll-type="odd"][data-roll="3"] {
    transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
  }
  [data-roll-type="odd"][data-roll="4"] {
    transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
  }
  [data-roll-type="odd"][data-roll="5"] {
    transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
  }
  [data-roll-type="odd"][data-roll="6"] {
    transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-540deg);
  }
  [data-roll-type="-"][data-roll="1"] {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="-"][data-roll="2"] {
    transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="-"][data-roll="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
  }
  [data-roll-type="-"][data-roll="4"] {
    transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
  }
  [data-roll-type="-"][data-roll="5"] {
    transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="-"][data-roll="6"] {
    transform: rotateX(360deg) rotateY(900deg) rotateZ(540deg);
  }
  [data-roll-type="change"][data-roll="1"] {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="change"][data-roll="2"] {
    transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="change"][data-roll="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
  }
  [data-roll-type="change"][data-roll="4"] {
    transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
  }
  [data-roll-type="change"][data-roll="5"] {
    transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="change"][data-roll="6"] {
    transform: rotateX(360deg) rotateY(900deg) rotateZ(540deg);
  }

  [data-side="1"] {
    transform: rotate3d(0, 0, 0, 90deg) translateZ(4*$size);
  }
  [data-side="2"] {
    transform: rotate3d(-1, 0, 0, 90deg) translateZ(4*$size);
  }
  [data-side="3"] {
    transform: rotate3d(0, 1, 0, 90deg) translateZ(4*$size);
  }
  [data-side="4"] {
    transform: rotate3d(0, -1, 0, 90deg) translateZ(4*$size);
  }
  [data-side="5"] {
    transform: rotate3d(1, 0, 0, 90deg) translateZ(4*$size);
  }
  [data-side="6"] {
    transform: rotate3d(1, 0, 0, 180deg) translateZ(4*$size);
  }

}

.animation {
    position: absolute;
    z-index: 10;
    width: 220px;
    height: 220px;
    background-image: url('img/animations.png');
    background-size: auto 100%;
    transform: scale(0.15);
    transition: transform 0.5s ease-out;
  
    &.animation4 {
      background-position: 0% 0%;
    }
  
    &.animation5 {
      background-position: 50% 0%;
    }
  
    &.animation6 {
      background-position: 100% 0%;
    }
  }

  .change-die-discussion_bubble {
    top: 110%;
    bottom: unset;
    left: -98px;
    cursor: default;

    &::after {
      top: -10px;
      bottom: unset;
      border-width: 0 15px 15px 15px;
    }

    .die-face-selector {
      display: flex;
      justify-content: space-evenly;
      margin: 5px;

      .dice-icon {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin: 5px;
        pointer-events: unset;

        &.selected {
          box-shadow: 0 0 3px 3px red;
        }

        &.disabled {
          opacity: 0.5;
          cursor: not-allowed;
          pointer-events: none;
        }
      }
    }

    .action-buttons {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      button {
        width: auto;
      }
    }
}

#heart-action-selector {
  display: flex;
  flex-direction: column;
  align-items: center;

  .die {
    display: flex;
    align-items: center;
    margin: 5px;

    .die-face {
      display: flex;
      justify-content: center;
      width: 80px;

      .dice-icon {
        position: relative;
        width: 40px;
        height: 40px;
      }
    }

    .toggle-buttons {
      display: flex;

      .toggle-button {
        user-select: none;
        background: #FFFFFFAA;
        //display: inline-block;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
    
        &.disabled {
          background: #AAAAAA;
          cursor: not-allowed;
          pointer-events: none;
        }
    
        &.selected {
          box-shadow: 0 0 3px 3px red;
          z-index: 1; // so shadow goes over next button
        }
    
        
        &:first-child {
          border-radius: 5px 0 0 5px;
        }
        &:last-child {
            border-radius: 0 5px 5px 0;
        }
        &:not(:last-child) {
            border-right: 1px solid #DDDDDD;
        }
      }
    }
  }

  #heart-action-selector-apply-wrapper {
    display: flex;
    justify-content: center;

    #heart-action-selector-apply {
      width: 120px;
    }
  }
}

$die4size: 5em;
$die4halfbase: $die4size / 2;
$die4height: /*sqrt(3)*/1.73205080757 * $die4halfbase;
$die4angle: 19.471221deg;
$die4color: #dbb336;
$distFromCenter: 1em;

.die4 {
    position: relative;
    margin: 0 auto;
    height: $die4size;
    width: $die4size;
    transform: translateZ($distFromCenter);

    &[data-rolled="true"] {
        animation: rolled-dice 1s forwards;
        transform: translateZ($distFromCenter) translateY(-60vh);

        .overlay {
          display: none;
        }
    }

    .die-list {
      width: $die4size;
      height: $die4size;
      transition: transform 1s ease-out;
      transform-style: preserve-3d;
      transform-origin: center center;
    }

  .face {
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: center 66.66667%;
      //transition: transform 1s ease-out;
      //border: $die4halfbase solid transparent;
      //border-top: 0;
      //border-bottom: $die4height solid transparent;

      background: url('img/anubis_die_background.png');
      border: 0;
      height: $die4height;
      width: $die4size;
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
      box-sizing: border-box;
  }

  [data-roll-type="even"] {
    transition: transform 0.9s ease-out;
  }
  [data-roll-type="odd"] {
    transition: transform 1.1s ease-out;
  }
  [data-roll-type="-"] {
    transition: transform 0;
  }
  [data-roll-type="change"] {
    transition: transform 0.5s ease-in-out;
  }

  [data-roll-type="even"][data-roll="1"] {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg); // icon 1 eye
  }
  [data-roll-type="even"][data-roll="2"] {
    transform: rotateX(300deg) rotateY(900deg) rotateZ(480deg); // icon 2 river
  }
  [data-roll-type="even"][data-roll="3"] {
    transform: rotateX(412deg) rotateY(845deg) rotateZ(450deg); // icon 3 snake
  }
  [data-roll-type="even"][data-roll="4"] {
    transform: rotateX(420deg) rotateY(955deg) rotateZ(510deg); // icon 4 ankh
  }
  
  [data-side="1"] {
    //transform: translateZ(4*$size) rotateY(0deg) rotateX($die4angle);
    transform: rotateX(-90deg + $die4angle) translateZ($distFromCenter);
  }
  [data-side="2"] {
    //transform: translateZ(4*$size) rotateY(120deg) rotateX($die4angle);
    transform: rotateZ(120deg) rotateX(-90deg + $die4angle) translateZ($distFromCenter);
  }
  [data-side="3"] {
    //transform: translateZ(4*$size) rotateY(240deg) rotateX($die4angle);
    transform: rotateZ(240deg) rotateX(-90deg + $die4angle) translateZ($distFromCenter);
  }
  [data-side="4"] {
    transform: translateZ(-$distFromCenter); //translateZ(4*$size) rotateX(360deg - $die4angle) rotateZ(0deg) translateY(-$die4height *2 /3) translateZ($die4height - ($die4size - $die4height)/8*3);
  }

  /*.face:nth-child(1) {
      transform: rotateY(0deg) rotateX($die4angle);
  }

  .face:nth-child(2) {
      transform: rotateY(120deg) rotateX($die4angle);
  }

  .face:nth-child(3) {
      transform: rotateY(240deg) rotateX($die4angle);
  }

  .face:nth-child(4) {
      transform-origin: center top;
      transform: rotateX(-90deg) rotateZ(180deg) translateY(-$die4height *2 /3) translateZ($die4height - ($die4size - $die4height)/8*3);
  }*/

  .number {
      transform-origin: center 66.66667%;
      position: absolute;
      left: 0;
      right: 0;
      padding: $die4size / 5 0 0;
      top: 0;
      bottom: 0;
      text-align: center;
      
      display: flex;
      justify-content: center;

      .anubis-icon {
        background: url('img/anubis_die_icons.png');
        background-size: auto 100%;
        width: $die4size * 0.3;
        height: $die4size * 0.3;
      }

      @for $i from 1 through 4 {
          .anubis-icon#{$i} {
              background-position: (($i - 1) * 33.3333%) 100%;
          }
      }
  }

  @for $i from 1 through 3 {
    .number:nth-child(#{$i}) {
        transform: rotateZ(#{($i - 1) * 120}deg);
    }
  }
}

.mode_3d {
    .dice {
        transform: translateZ(20px);
    }
    

  .icon.forbidden {
    transform: translateZ(20px);
  }
}
