.player-evolution-cards {
    .stockitem {

        .name-and-description {
            position: absolute;
            top: 37px;
            left: 14px;
            width: 104px;
            height: 79px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;

            & > div {
                flex: 1;
                width: 104px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .name-wrapper {
            position: relative;
            top: unset;
            left: unset;
            width: unset;
            font-size: 9pt;
            color: white;
            font-family: 'goodgirl';
            text-align: center;

            .outline {
                position: absolute;
                left: 0;
                top: 0;
                -webkit-text-stroke: 4px $tokyoGreen;
                width: 100%;
            }

            .text {
                position: relative;
                left: 0;
                top: 0;
                width: 100%;
            }
        }

        .evolution-type {
            position: absolute;
            font-size: 6pt;
            left: 22px;
            top: 26px;
            width: 87px;
            text-transform: uppercase;
            color: white;
            white-space: nowrap;
            text-align: center;

            strong {
                color: #fff200;
            }
        }

        .description-wrapper {
            position: relative;
            top: unset;
            left: unset;
            width: unset;
            text-overflow: ellipsis;
            text-align: center;
            color: black;
            font-size: $description-size;

            .icon {
                width: 12px;
                height: 12px;
                margin-bottom: -2px;
            }

            .token {
                width: 12px;
                height: 12px;
                margin-bottom: -2px;
                box-shadow: none;
            }
        }
        
        &.disabled {
            filter: contrast(0.6);
            cursor: not-allowed;
        }
    }
}