
html[data-origins="true"] {
    #table {
        #table-center {        
            #full-board {
                #board {
                    #tokyo-city {
                        top: 113px;
                        left: 52px;
                    }

                    #board-corner-highlight {
                        bottom: 28px;
                        left: 16px;
    
                    }
                    #twoPlayersVariant-message {
                        position: absolute;
                        bottom: 57px;
                        left: 13px;
                    }
                }
            }
        }
    }
}