.player-board {
  &.eliminated-player {
    background-color: #b9b9b9;

    .player-name a {
      text-decoration: line-through;
    }

    .counters {
      display: none;
    }
  }

  .monster-figure {
    background-repeat: no-repeat;
    background-position: 75% top;
    margin-bottom: -5px;
    height: 45px;
  }

  .player_score, .fa-star {
    font-weight: bold;
    color: #6787c3;
  }
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
  // font-family: 'goodgirl';

  .health-counter, .energy-counter {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.player-tokens {
  display: flex;
  flex-wrap: wrap;

  .player-token {
    margin: 0 5px;
    
    &>div:not(:first-child) {
      margin-left: -25px;
    }
  }
}

.kot-token {    
  opacity: 0;
  transition: opacity 1s;
  width: 50px;
  height: 50px;
  background: url('img/kot-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.intokyo .kot-token {
  opacity: 1;
}
