.player-board {
  background-color: white;

  &.active {
    box-shadow: 0px 0px 2px 3px #ffcf13;
  }

  &.eliminated-player {
    background-color: #b9b9b9;

    .player-name a {
      text-decoration: line-through;
    }

    .counters {
      display: none;
    }
  }

  .monster-figure {
    background-repeat: no-repeat;
    background-position: 75% top;
    margin-bottom: -5px;
    height: 45px;
    background-size: auto;
    width: auto;
  }

  .player_score, .fa-star {
    font-weight: bold;
    color: #6787c3;
  }
  

  .player-hand-card {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('img/cards.svg');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: bottom;
  }
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
  // font-family: 'goodgirl';

  .counter {
    flex: 1;
    display: flex;
    align-items: center;

    span {
      padding: 0 5px 0 5px;
    }

    .tokyo-tower-icon-wrapper {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;

      .tokyo-tower-icon {
        background: url("img/tokyo-tower.png");
        background-position-x: 0%;
        background-size: auto 100%;
        height: 32px;
        width: 9px;
      }
    }

    .berserk-icon-wrapper {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;

      .icon.berserk {
        background: url("img/berserk-token.png") no-repeat;
        background-size: contain;
        opacity: 0.3;
        width: 21px;
        border-radius: 3px;

        &.active {
          opacity: 1;
          box-shadow: 0 0 3px 1px red;
        }
      }
    }

    .icon.cultist {
      background: url("img/cultist-tile.png");
      background-size: contain;
      border-radius: 3px;
    }
  }
}

.player-tokens {
  display: flex;
  flex-wrap: wrap;

  .player-token:not(:empty) {
    margin: 0 5px;
    
    &>div:not(:first-child) {
      margin-left: -25px;
    }
  }
}

.kot-token {    
  opacity: 0;
  transition: opacity 1s;
  width: 50px;
  height: 50px;
  background: url('img/kot-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.intokyo .kot-token {
  opacity: 1;
}

.playerhand-counter {
  white-space: nowrap;
}

.show-evolutions-button {
  visibility: hidden;  
  margin-left: 15px;

  &.visible {
    visibility: visible;
  }

  button {
    white-space: normal;
  }
}