.player-board {
  &.eliminated-player {
    background-color: #b9b9b9;

    .player-name a {
      text-decoration: line-through;
    }

    .counters {
      display: none;
    }
  }

  .monster-figure {
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: -5px;
    height: 45px;
  }
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url('img/icons.png');
  background-size: auto 100%;

  &.small {
    width: 16px;
    height: 16px;
  }

  &.points {
    background-position: 0% 0%;
  }

  &.energy {
    background-position: 25% 0%;
  }

  &.health {
    background-position: 50% 0%;
  }

  &.forbidden {
    background-position: 75% 0%;
  }

  &.dead {
    background-position: 100% 0%;
  }
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
  // font-family: 'goodgirl';

  .health-counter, .energy-counter {
    flex: 1;
    display: flex;
    align-items: center;
  }
}