.player-table {
    width: 440px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;

    &.eliminated {
        filter: grayscale(1);
    }

    &.active {
        border: 3px solid #ffcf13;
        box-shadow: 0px 0px 5px 2px #ffcf13;
    }
    
    .player-name {
        padding: 5px;
        position: relative;
        height: 18px;
        width: 100%;
        text-align: center;
        text-overflow: ellipsis;
        z-index: 5;

        .outline {
            position: absolute;
            left: 0;
            width: 100%;
            display: block;
            -webkit-text-stroke: 4px black;

            &.white {
                -webkit-text-stroke: 4px white;
            }
        }
            
        .text {
            position: absolute;
            left: 0;
            width: 100%;
        }

        &.standard {
            font-weight: bold;
            font-size: 15pt;
        }

        &.goodgirl {
            font-family: 'goodgirl';
            font-size: 16pt;
            
            .outline {
                top: 2px;
            }
            
            .text {
                top: 2px;
            }
        }
    }

    .monster-board-wrapper {
        position: relative;

        .kot-token {
            z-index: 3;
            position: absolute;
            top: -25px;
            left: -25px;
        }

        .wheel {
            position: absolute;
            z-index: 1;
            transition: transform 1s;

            &.blue {
                background-image: url('img/blue-wheel.png');
                width: 165px;
                height: 165px;
                top: 7px;
                left: -5px;
                transform: rotate(25deg);
            }

            &.red {
                background-image: url('img/red-wheel.png');
                width: 122px;
                height: 122px;    
                right: -5px;
                bottom: 5px;
                transform: rotate(98deg);
            }
        }

        .monster-board {
            width: 280px;
            height: 219px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            box-shadow: 2px 2px 5px 2px black;
            border-radius: 12px;
            position: relative;
            z-index: 2;

            .monster-board-figure-wrapper {
                width: 200px;
                height: 150px;
            }

            @for $i from 1 through 21 {
                &.monster#{$i} {
                    background-image: url('img/monster-board-#{$i}.png');
                }
            }

            .target.token {
                position: absolute;
                top: -15px;
                left: 27px;
                z-index: 2;
            }
        }
    }

    .energy-wrapper {
        position: absolute;
        z-index: 4;
        top: 40px;
        width: 65px;
        height: 220px;

        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
    }

    .token-wrapper {
        position: absolute;
        z-index: 4;
        width: 65px;
        height: 170px;
        pointer-events: none;

        .token {
            position: absolute;
            pointer-events: all;
        }

        &.poison {
            left: -15px;
            bottom: 5px;

            .token {
                box-shadow: 0 0 4px 4px #5e8cc2;
            }
        }
        &.shrink-ray {
            top: 5px;
            right: -50px;

            .token {
                box-shadow: 0 0 4px 4px #d7e2a1;
            }
        }
    }
    
    .player-wickedness-tiles {
        width: 100%;
        
        &.empty {
            max-height: 0px;
        }
    }

    .player-cards {
        width: 100%;

        &.empty {
            max-height: 20px;

            &.reserved {
                max-height: 0px;
            }
        }

        &.reserved {
            background: #AAAAAAAA;
        }
    }

    .player-evolution-cards {
        width: 100%;

        &.empty {
            max-height: 0px;
        }
    }

    .tokyo-tower-wrapper {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .berserk-token {
        position: absolute;
        right: -10px;
        top: -10px;
        width: 52px;
        height: 80px;
        background: url('img/berserk-token.png');
        z-index: 3;
        border-radius: 5px;
        display: none;
        //box-shadow: 0 0 5px 2px red;

        &[data-visible="true"] {
            display: initial;
        }
    }

    .cultist-tokens {
        position: absolute;
        bottom: 0;
        left: 60px;
        width: 155px;

        display: flex;
        flex-wrap: wrap-reverse;

        .cultist-token {
            background: url("img/cultist-tile.png");
            background-size: contain;
            width: 64px;
            height: 64px;
            border-radius: 5px;
            margin: 0 5px;
            margin-left: -50px;
            box-shadow: 0 0 2px 1px rgba(0,0,0,0.7);
        }
    }
}

.monster-figure {
    position: relative;
    // filter: drop-shadow(6px 6px 4px black); 
}
