#board {
    position: relative;
    width: 400px;
    height: 400px;
    background: url('img/tokyo.jpg');
    background-size: cover;
    box-shadow: 2px 2px 5px 2px black;

    #tokyo-city {
        position: absolute;
        top: 80px;
        left: 0;
        width: 200px;
        height: 200px;
    }

    #tokyo-bay {
        position: absolute;
        bottom: 0px;
        right: 0;
        width: 200px;
        height: 200px;
    }
}

@import 'player-table';