#table {
    position: relative;
    transform-origin: left top;

    #table-center {
        position: absolute;
        width: 420px;

        #deck-wrapper {
            display: flex;
            justify-content: center;
            position: relative;
            overflow: visible;

            #deck {
                width: 185px;
                height: 132px;
                background: url('img/card-back.jpg');
                box-shadow: 4px 4px 0px 0px #333;
            }

            #pick-stock {
                position: absolute;
                bottom: -5px;
                width: 100%;
                z-index: 5;
            }
        }

        #visible-cards {
            margin-bottom: 10px;
        }
    
        #board {
            margin-left: 10px;
            position: relative;
            width: 400px;
            height: 400px;
            background: url('img/tokyo.jpg');
            background-size: cover;
            box-shadow: 2px 2px 5px 2px black;

            &.twoPlayersVariant {
            background: url('img/tokyo-2pvariant.jpg');                
            }
    
            #tokyo-city {
                position: absolute;
                top: 72px;
                left: 11px;
                width: 150px;
                height: 150px;
            }
    
            #tokyo-bay {
                position: absolute;
                bottom: 11px;
                right: 23px;
                width: 150px;
                height: 150px;
            }

            #twoPlayersVariant-message {
                position: absolute;
                bottom: 50px;
                left: 19px;
                right: 19px;
                background: #FFFFFFCC;
                box-shadow: 0px 0px 5px 2px #FFFFFFCC;
                padding: 5px;

                #hide-twoPlayersVariant-message {
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            #board-corner-highlight {
                position: absolute;
                border: 3px solid #ffcf13;
                margin: -3px;
                box-shadow: 0px 0px 5px 2px #ffcf13;
                bottom: 13px;
                height: 26px;
                left: 22px;
                width: 83px;
            }
        }
    }
    
    @import 'player-table';
}