#table {
    position: relative;
    transform-origin: left top;
    display: flex;
    justify-content: center;
    align-items: stretch;

    .table-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    #table-center {
        position: relative;
        width: 420px;

        #deck-wrapper {
            display: flex;
            justify-content: center;
            position: relative;
            overflow: visible;

            #deck {
                width: 185px;
                height: 132px;
                background: url('img/card-back.jpg');
                box-shadow: 4px 4px 0px 0px #333;

                &[data-type="costume"] {
                    background: url('img/card-back-costume.jpg');
                }
            }

            #pick-stock {
                position: absolute;
                bottom: -5px;
                width: 100%;
                z-index: 5;
            }
        }

        #visible-cards {
            margin-bottom: 10px;
        }

        #curse-wrapper {
            display: flex;
            justify-content: center;

            #curse-deck {
                width: 132px;
                height: 185px;
                background: url('img/anubis-cards.jpg');
                background-position: 50% 50%;
                box-shadow: 4px 4px 0px 0px #333;
                border-radius: 10px;
            }

            #curse-card {
                width: 132px;
            }
        }
    
        #full-board {
            #board {
                margin-left: 10px;
                position: relative;
                width: 400px;
                height: 400px;
                background: url('img/tokyo.jpg');
                background-size: cover;
                box-shadow: 2px 2px 5px 2px black;
                display: inline-block;

                &.twoPlayersVariant {
                background: url('img/tokyo-2pvariant.jpg');                
                }
        
                #tokyo-city {
                    position: absolute;
                    top: 72px;
                    left: -14px;
                    width: 200px;
                    height: 150px;
                }
        
                #tokyo-bay {
                    position: absolute;
                    bottom: 11px;
                    right: -2px;
                    width: 200px;
                    height: 150px;
                }

                #twoPlayersVariant-message {
                    position: absolute;
                    bottom: 50px;
                    left: 19px;
                    right: 19px;
                    background: #FFFFFFCC;
                    box-shadow: 0px 0px 5px 2px #FFFFFFCC;
                    padding: 5px;

                    #hide-twoPlayersVariant-message {
                        font-weight: bold;
                        cursor: pointer;
                    }
                }

                #board-corner-highlight {
                    position: absolute;
                    border: 3px solid #ffcf13;
                    margin: -3px;
                    box-shadow: 0px 0px 5px 2px #ffcf13;
                    bottom: 13px;
                    height: 26px;
                    left: 22px;
                    width: 83px;
                }

                .tokyo-tower-wrapper {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
            }

            #wickedness-board {
                position: relative;
                width: 174px;
                height: 400px;
                background: url('img/wickedness-board.jpg');
                background-size: cover;
                box-shadow: 2px 2px 5px 2px black;
                display: inline-block;

                #wickedness-tiles-reduced-3 {
                    top: 258px;
                }
                #wickedness-tiles-reduced-6 {
                    top: 141px;
                }
                #wickedness-tiles-reduced-10 {
                    top: 6px;
                }

                #wickedness-tiles-expanded-3 {
                    bottom: 10px;
                }
                #wickedness-tiles-expanded-6 {
                    //top: 120px;
                    bottom: 10px;
                }
                #wickedness-tiles-expanded-10 {
                    top: 10px;
                }

                .wickedness-tiles-reduced {
                    position: absolute;
                    left: 174px;
                    width: 26px;
                    height: 80px; // TODOWI

                    .wickedness-tiles-reduced-tile {
                        position: absolute;
                        width: 26px;
                        height: 80px; // TODOWI
                        background: url('img/green-wickedness-tiles.jpg');
                        border-radius: 10px;
                    }
                }

                .wickedness-tiles-expanded {
                    position: absolute;
                    left: 174px;
                    width: 142px;
                    background: white;
                    border-radius: 8px;
                    visibility: hidden;
                    padding-bottom: 1px;
                    z-index: 20;
    
                    &.visible {
                        visibility: visible;
                    }

                    .close {
                        cursor: pointer;
                        text-align: right;
                        padding-top: 5px;
                        padding-right: 10px;
                    }

                    .wickedness-tile-stock {
                        width: 132px;
                    }

                    &:not(.selectable) {
                        .wickedness-tile-stock {
                            pointer-events: none;
                        }
                    }
                }

                .monster-icon {
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    background: url('img/monster-icons.png');
                    background-size: auto 100%;
                    border-radius: 50px;
                    box-shadow: 0px 0px 3px 2px black;
                    transition: left 0.5s, top 0.5s;

                    @for $i from 1 through 13 {
                        &.monster#{$i} {
                            background-position: (($i - 1) * 100% / 12) 50%;
                        }
                    }
                }
            }
        }
    }
    
    @import 'player-table';
}

.monster-figure {
    .stand {
        display: none;
    }
}

.mode_3d {
    .monster-figure {
        transform: translateY(-60px) rotateX(-90deg);
        transform-origin: bottom center;

        .stand {
            display: inline-block;
            width: 70px;
            height: 70px;
            background: black;
            position: absolute;
            bottom: -35px;
            left: 50%;
            margin-left: -35px;
            border-radius: 50%;
            transform: rotateX(90deg);
        }
    }
}