.tokyo-tower {
  width: 70px;
  height: 260px;
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 26% 35% 38%;
  z-index: 8;

  .level {
    height: 100%;
    background: url("img/tokyo-tower.png");
    display: flex;
    justify-content: center;
    align-items: center;

    &.level3 {
      background-position-y: 0%;
    }
    &.level2 {
      background-position-y: 42%;
    }
    &.level1 {
      background-position-y: 100%;
    }

    .icon {
      margin: -5px;
    }
  }
}

.mode_3d .tokyo-tower {
  transform: translateY(-60px) rotateX(-90deg);
  transform-origin: bottom;
}

.tokyo-tower-icon {
  height: 32px;
  display: none;
  background: url("img/tokyo-tower.png") no-repeat;

  &.level3 {
    background-position-y: 0%;
    background-size: auto 390%;
    width: 26px;
  }
  &.level2 {
    background-position-y: 42%;
    background-size: auto 280%;
    width: 20px;
  }
  &.level1 {
    background-position-y: 100%;
    background-size: auto 250%;
    width: 22px;
  }

  &[data-owned="true"] {
    display: inline-block;
  }
}