.wickedness-tile-stock {

    .stockitem {

        .name-and-description {
            position: absolute;
            top: 3px;
            min-height: 75px;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;

            & > div {
                flex: 1;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .name-wrapper {
            position: relative;
            top: unset;
            left: unset;
            width: unset;
            left: 0;
            width: 112px;
            text-align: center;
            margin: 3px;

            .outline {
                position: absolute;
                left: 0;
                top: 0;

                &.wickedness-tile-side0 {
                    -webkit-text-stroke: 4px #8c1e10;  
                }
                &.wickedness-tile-side1 {
                    -webkit-text-stroke: 4px #364e11;  
                }
            }

            .text {
                position: relative;
                left: 0;
                top: 0;
                width: 100%;
            }
        }

        .description-wrapper {
            position: relative;
            top: unset;
            left: unset;
            width: 92px;
        }
    }
}