$name-left: 34px;
$name-top: 14px;
$name-width: 95px;
$name-size: 10pt;

$type-left: 0px;
$type-size: 9pt;

$description-left: 4px;
$description-width: 124px;
$description-size: 7pt;

.card, .card-side {
    border-radius: 10px;
}

.kot-curse-card, .kot-tile, .kot-evolution, .kot-card {
    border-radius: 10px;
    text-align: center;

    &.kot-card {
        display: inline-block;
        position: relative;
        border-radius: 10px;
        text-align: center;
        width: 132px;
        height: 185px;
    }

    .bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: url('img/card-bottom.png');
        background-position: center top;

        &.consumable {
            display: none;
        }
    }

    .name-wrapper {
        position: absolute;
        top: $name-top;
        left: $name-left;
        font-size: $name-size;
        color: white;
        font-family: 'goodgirl';
        width: $name-width;
        text-align: center;

        .outline {
            position: absolute;
            left: 0;
            top: 0;
            -webkit-text-stroke: 4px $tokyoGreen;
            width: 100%;

            &.curse {
              -webkit-text-stroke: 4px #1c484f;  
            }
        }

        .text {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
    }

    .type-wrapper {
        position: absolute;
        left: $type-left;
        font-size: $type-size;
        color: white;
        transform: rotate(-5deg);
        font-family: 'goodgirl';

        &.keep .outline { // blue
            -webkit-text-stroke: 4px #00aeef;
        }

        &.discard .outline { // red
            -webkit-text-stroke: 4px #ef1923;
        }

        &.costume .outline { // orange
            -webkit-text-stroke: 4px #f7941d;
        }

        &.transformation .outline { // teal
            -webkit-text-stroke: 4px #13b48f;
        }

        &.consumable {
            top: 126px;
        }

        &.consumable .outline { // purple
            -webkit-text-stroke: 4px #9e3069;
        }

        .outline {
            position: absolute;
            left: 0;
            top: 0;
            width: 120px;
        }

        .text {
            position: absolute;
            left: 0;
            top: 0;
            width: 120px;
        }
    }

    .description-wrapper {
        position: absolute;
        left: $description-left;
        width: $description-width;
        bottom: 4px;
        text-overflow: ellipsis;
        text-align: center;
        color: black;
        font-size: $description-size;

        .icon {
            width: 12px;
            height: 12px;
            margin-bottom: -2px;
        }

        &.consumable {
            bottom: 10px;
            height: 36px;
            left: 10px;
            right: 10px;
            width: unset;
        }
    }

    .effect-wrapper {
        position: absolute;
        text-overflow: ellipsis;
        text-align: center;
        font-size: $description-size;
        display: flex;
        align-items: center;

        div {
            flex: 1;
        }

        .icon {
            width: 12px;
            height: 12px;
            margin-bottom: -2px;
        }

        .effect-text {
            &.overflow {
                background: radial-gradient(#fefefe, #fdfaf3, #f8ead0);
                margin: -5px;
                padding: 2px;
                border-radius: 7px;
                &.permanent {
                    background: radial-gradient(#0db9e9, #0fa2d8, #1265ab);
                    border: 2px solid #42aad1;
                }
            }
        }
    }

    .permanent-effect-wrapper {
        left: 9px;
        width: 116px;
        top: 59px;
        height: 38px;
        color: white;
    }

    .ankh-effect-wrapper {
        left: 6px;
        width: 58px;
        top: 124px;
        height: 52px;
        color: black;
    }

    .snake-effect-wrapper {
        left: 68px;
        width: 58px;
        top: 124px;
        height: 52px;
        color: black;
    }
    
    &[id$="goldenscarab"] {
        pointer-events: none;
    }

    .card-token {
        position: absolute;
        z-index: 12;

        &.mimic {
            z-index: 13;
        }

        &.mimic-tile {
            z-index: 11;

            left: 0;
            top: 32px;
            width: 132px;
            height: 81px;
            background-image: url("img/wickedness-tiles.jpg"); 
            background-position: 50% 100%;
            margin: 0;
        }
    }
}

.energy-cube {
    position: absolute;
    background: url('img/energy-cube.png') center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
}

.card-tooltip {
    .icon {
        width: 12px;
        height: 12px;
        margin-bottom: -2px;
    }

    .cost {
        color: $tokyoGreen;
    }
}

.card-keep-text {
    position: relative;
    color: white;
    font-family: 'goodgirl';
    font-size: 7pt;
    margin: 2px;
    text-align: center;

    .outline {
        -webkit-text-stroke: 3px #00aeef;
    }

    .text {
        position: absolute;
        left: 0;
        top: 0;
        line-height: 1;
    }
}

.card-discard-text {
    position: relative;
    color: white;
    font-family: 'goodgirl';
    font-size: 7pt;
    margin: 2px;
    text-align: center;

    .outline {
        -webkit-text-stroke: 3px #ef1923;
    }

    .text {
        position: absolute;
        left: 0;
        top: 0;
        line-height: 1;
    }
}

.card-consumable-text {
    position: relative;
    color: white;
    font-family: 'goodgirl';
    font-size: 7pt;
    margin: 2px;
    text-align: center;

    .outline {
        -webkit-text-stroke: 3px #9e3069;
    }

    .text {
        position: absolute;
        left: 0;
        top: 0;
        line-height: 1;
    }
}

.card-keyword-buttons {
    position: absolute;
    top: 20px;
    left: 10px;
    right: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    button {
        margin: 0;
        pointer-events: all;
    }
}
