#conspiracy-help-button {
    position: fixed;
    bottom: 75px;
    left: 5px;
    width: 50px;
    height: 50px;
    background: url('img/tokens.png');
    background-position: 73% 5%;
    background-size: 800%;
    font-weight: bold;
    text-shadow: 0 0 4px white;
    border-radius: 25px;
    border: 1px solid #777;
    box-shadow: 3px 5px 5px 0px rgb(0 0 0);
    cursor: pointer;
    z-index: 949;
    font-size: 28pt;
    font-family: 'MoolBoran';
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
    #conspiracy-help-button {
        display: none;
    }
}

#popin_conspiracyHelpDialog {
    color: #212222;
    background: #e5f4fd;
}

#help-popin {
    max-width: 35rem;
    max-height: 80vh;
    overflow: auto;
        
    font-family: 'MoolBoran';

    h1.help {
        font-family: 'TribalGaramondPL-SC700';
        color: #0094bb;
    }

    .help-section {    
        table {
            border-spacing: 10px;
            border-collapse: separate;
        }
    }

    #help-lords {
        .lord {
            width: $lord-width; 
            height: $lord-height;
            background-image: url('img/lords.jpg');
        }
        @for $i from 1 through 3 {
            #lord#{$i} {
                background-position: (-1200% - $i * 100%) 0%;
            }
        }
        @for $i from 4 through 6 {
            #lord#{$i} {
                background-position: (-1200% - $i * 100%) 100%;
            }
        }
    }

    #help-locations {
        .location {
            width: $location-width; 
            height: $location-height;
            background-image: url('img/locations.jpg');
        }
        @for $i from 1 through 12 {
            #location#{$i} {
                background-position: (- $i * 100%) 0%;
            }
        }
        @for $i from 13 through 14 {
            #location#{$i} {
                background-position: (- $i * 100%) 100%;
            }
        }
        #location100 {        
            background-position: -1700% 100%;
        }
        #location101 {        
            background-position: -2200% 100%;
        }
}
}