@import url(../../../css/csslayer.css);

@import 'playerboards';
@import 'dice';
@import 'cards';
@import 'table';

@font-face {
    font-family: 'goodgirl';
    src: url('font/goodgirl-webfont.woff2') format('woff2'),
         url('font/goodgirl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@for $i from 0 through 5 {
    .monster#{$i} {
        background-image: url('img/monster-figure-#{$i + 1}.png');
    }
}



.icon {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url('img/icons.png');
    background-size: auto 100%;
  
    &.small {
      width: 16px;
      height: 16px;
    }
  
    &.points {
      background-position: 0% 0%;
    }
  
    &.energy {
      background-position: 25% 0%;
    }
  
    &.health {
      background-position: 50% 0%;
    }
  
    &.forbidden {
      background-position: 75% 0%;
    }
  
    &.dead {
      background-position: 100% 0%;
    }
}

.log {  
  .icon {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
  }
}
  