@import url(../../../css/csslayer.css);

$tokyoGreen: #a6c136;
$tokyoBlack: #211D1F;

@import 'playerboards';
@import 'dice';
@import 'cards';
@import 'evolution-cards';
@import 'wickedness-tiles';
@import 'table';
@import 'halloween';
@import 'christmas';
@import 'tokyo-tower';

@font-face {
    font-family: 'goodgirl';
    src: url('img/goodgirl-webfont.woff2') format('woff2'),
         url('img/goodgirl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

html, .mode_3d #game_play_area_background {
  background: url('img/background.jpg') #102f50;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.whiteblock {
  background: #FFFFFFAA;
}

.icon {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url('img/icons.png');
    background-size: auto 100%;
  
    &.points {
      background-position: #{0 * 100% / 5} 0%;
    }
  
    &.energy {
      background-position: #{1 * 100% / 5} 0%;
    }
  
    &.health {
      background-position: #{2 * 100% / 5} 0%;
    }
  
    &.forbidden {
      background-position: #{3 * 100% / 5} 0%;
    }
  
    &.dead {
      background-position: #{4 * 100% / 5} 0%;
    }
  
    &.lock {
      background-position: #{5 * 100% / 5} 0%;
    }
}

#page-title {
  .dice-icon, .icon {
    width: 20px;
    height: 20px;
  }

  .icon {
    margin: -5px 0;
  }
}

#monster-pick {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;

  &.selectable {
    .monster-figure {
      cursor: pointer;
    }
  }
}

.monster-figure {    
  position: relative;
  width: 200px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;

  @for $i from 1 through 21 {
      &.monster#{$i} {
          background-image: url('img/monster-figure-#{$i}.png');
      }
  }

  &.monster12.beast-mode {
    background-image: url('img/monster-figure-12-beast.png');
  }
}

#kot-table.pickMonsterOrEvolutionDeck {
  display: none;
}

#rolled-dice-and-rapid-actions {  
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  z-index: 9;
  position: relative;

  #rapid-actions-wrapper {
    max-width: 380px;

    &:not(:empty) {
      margin-right: 15px;
      margin-left: 10px;
    }

    .action-button {
      margin-top: 5px;
      margin-bottom: 5px;
      text-overflow: unset;
    }

    &>.action-button {
      margin-left: 0;
    }

    #rapidCultistButtons {
      display: flex;
      align-items: center;

      span {
        color: white;
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }

  #autoLeaveUnderButton {
    position: relative;
    overflow: visible;
  }
}

.autoLeaveUnderBubble {
  top: 35px;
  bottom: unset;
  right: 0px;
  cursor: default;
  width: 200px;
  white-space: normal;
  box-shadow: 1px 1px 4px 1px black;

  &::after {
    top: -10px;
    bottom: unset;
    border-width: 0 15px 15px 15px;
  }

  .button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    margin-right: 10px;

    .disable {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  hr {
    border-color: #4871b6; // BGA blue
    border-width: 2px;
  }
}

@media screen and (max-width: 550px) {
  #rolled-dice-and-rapid-actions {
    display: block;
  }
}

#zoom-wrapper {
  position: relative;

  #zoom-controls {
    position: absolute;
    top: 0;
    right: 0;

    button {
      width: 40px;
      height: 40px;
      background: url('img/zoom.svg');
      background-size: auto 220%;

      &:not(.disabled) {
        cursor: pointer;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    #zoom-in {
      background-position: 6% 94%;
    }
    #zoom-out {
      background-position: 82% 94%;
    }
  }
}

.log {  
  .icon {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
  }
  
  .token {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
  }

  .dice-icon {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .timestamp {
    text-shadow: 0 0 3px white;
    color: #222;
    font-size: 80%;
  }

  [data-log-type] {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

.gamelogreview {
  .icon {
    width: 20px;
    height: 20px;
    margin-bottom: -2px;
  }

  .dice-icon {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

button, a {
  .icon {
    width: 20px;
    height: 20px;
    margin: -5px 0;
  }
}

.dijitTooltipContents { 
  .icon {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
  }
}
  

.token {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url('img/tokens.png');
  background-size: auto 100%;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px black;

  &.shrink-ray {
    background-position: 0% 0%;
  }

  &.poison {
    background-position: 33.33% 0%;
  }

  &.smoke-cloud {
    background-position: 66.66% 0%;
    box-shadow: 0 0 4px 4px white;
  }

  &.superior-alien-technology {
    background-position: 66.66% 0%; // TODOPU
    box-shadow: 0 0 4px 4px white; // TODOPU
  }

  &.icy-reflection {
    background-position: 100% 0%; // TODOPU
    box-shadow: 0 0 4px 4px #9cc060; // TODOPU
  }

  &.mimic {
    background-position: 100% 0%;

    box-shadow: 0 0 4px 4px #9cc060;
  }

  &.ufo {
    background-position: 66.66% 0%; // TODOPU
    box-shadow: 0 0 4px 4px white; // TODOPU
  }

  &.alienoid {
    background-position: 33.33% 0%; // TODOPU
    box-shadow: 0 0 4px 4px white; // TODOPU
  }

  &.target {
    background-position: 66.66% 0%; // TODOPU
    box-shadow: 0 0 4px 4px white; // TODOPU
  }
}

#skipBuyPhaseWrapper {
  display: flex;
  align-items: center;

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 26px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: $tokyoGreen;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $tokyoGreen;
  }

  input:checked + .slider:before {
    transform: translateX(18px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 26px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .text-label {
    color: white;
    font-weight: bold;
    margin-left: 5px;
    //text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
  }
}

.monster-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: auto 100%;
    border-radius: 50px;
    box-shadow: 0px 0px 3px 2px black;
    transition: left 0.5s, top 0.5s;

    @for $i from 1 through 13 {
        &.monster#{$i} {
          background: url('img/monster-icons.png'); // here and not in .monster-icon, so monsters with no icon will get the background-color set in JS instead of first monster icon
          background-position: (($i - 1) * 100% / 12) 50%;
        }
    }
}

#generalactions {
  .monster-icon {
    vertical-align: middle;
    margin-right: 8px;
  }

  .action-button-toggle-button-selected {
    border: 3px solid #4871b6;
  }
}

.anubis-icon {
  background: url('img/anubis_die_icons.png');
  background-size: auto 100%;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;

  @for $i from 1 through 4 {
      &.anubis-icon#{$i} {
          background-position: (($i - 1) * 33.3333%) 100%;
      }
  }
}

.double-selection {
  .no-visible-selection-except-double-selection {
    box-shadow: 0px 0px 5px 5px #ffcf13;
  }
}

.highlight-evolution {
    box-shadow: 0px 0px 5px 5px #ffcf13;
}

.player-evolution-card {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('img/evolution-cards.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  vertical-align: bottom;
  box-shadow: 0 0 1px 1px #cccc;
  border-radius: 2px;
}

.see-evolutions-button {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  width: auto;
}

#popin_kotViewEvolutionsDialog {

  #see-monster-evolutions {  
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .stockitem {
      position: relative;
      width: 132px; 
      height: 132px; 
      background-image: url('img/evolution-cards.jpg');
    }
  }
}

.pick-evolution-cards {
  display: none;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-bottom: 25px;

  &::before {
      border-color: rgba(255, 255, 255, 0.8) transparent;
      border-style: solid;
      border-width: 30px 30px 0;
      content: "";
      display: block;
      left: calc(50% - 27px);
      position: absolute;
      width: 0;
      animation: pick-evolution-arrow-down 2s infinite ease-out;
  }
}

@keyframes pick-evolution-arrow-down {
  0% { bottom: 0px; }
  50% { bottom: -25px; }
  100% { bottom: -25px; }
}

.card-in-title-wrapper {
  display: flex;
  justify-content: center;
  line-height: normal;
  font-weight: normal;
}

#popin_multipleChoice_dialog_contents {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}