.card-stock {
    &.all-visible-deck {
        position: absolute;
        --tile-count: 1;
        width: calc(132px + var(--tile-count) * 3px);
        transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        opacity: var(--tile-count);

        & > * {
            position: absolute;
            margin: 0;
            transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
            top: calc(3px * var(--order));
            left: calc(3px * var(--order));
        }

        &:hover, &:active, &.opened {
            height: calc(85px * var(--tile-count) - 3px);
            z-index: 1;

            & > * {
                left: 0px;
                top: calc(85px * var(--order));
            }
        }
    }
}