.card-stock {

    &.line-stock {
        display: flex;
        gap: 10px;

        &[data-wrap="true"] {
            flex-wrap: wrap;
        }
        &[data-wrap="false"] {
            flex-wrap: nowrap;
        }

        &[data-direction="row"] {
            flex-direction: row;
        }
        &[data-direction="column"] {
            flex-direction: column;
        }

        &[data-center="true"] {
            justify-content: center;
        }
    }
}